<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>View NFTs</title>
    <!-- <link rel="stylesheet" href="../../assets/style/forms.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../assets/style/main.css">
    <script src="../../scripts/viewnft.mjs" type="module" defer></script>
</head>
<body>
    <!-- header -->
    <header>
        <div include-html="../common/header.html"></div>
    </header>
  
    <div class="main m-2">
        <div class="container">
            <button class="back-btn">
                <a href="../users/homepage.html">Go Back</a>
            </button>
            <h1 class="text-center">Your Property NFTs</h1>
            <div id="results" style="margin-top: -120px;">

            </div>
        </div>
        <div class="d-flex justify-content-center m-2" id="spinner-div">
            <div class="spinner">
                <div class="spinner-border" role="status">
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div include-html="../common/footer.html"></div>
    </footer>
        
</body>
</html>
